iframe#popup-injector {
    box-shadow: rgba(0, 0, 0, 0.12) 4px 2px 12px 0px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(155, 155, 155, 0.18) !important;
    z-index: 10000;
    position: fixed;
    width: 600px;
    right: -45%;
    transition: 0.3s all;
    height: calc(100vh - 10px);
    top: 5px;

    &.open {
        right: 5px;
        border-radius: 8px;
    }
}

.wanew-btn {
    z-index: 10000;
    cursor: pointer;
    display: block;
    position: fixed;
    right: 0;
    top: calc((100vh - 100px) / 4);
}

.wanew-btn .wanew-icon-container {
    border-radius: 4px;
    overflow: hidden;

}

.wanew-btn .wanew-icon-container img {}

.wanew-btn .wanew-badge-container {
    position: absolute;
    top: -9px;
    left: 0;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wanew-btn .wanew-badge-container .wanew-badge {
    background: #C95A2E;
    border-radius: 200px;
    font-size: 12px;
    padding: 2px 4px 2px 3px;
    text-align: center;
    font-weight: 700;
    color: white;
}