.root-loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: donutOpacAnimation 0.35s linear;
    min-height: 500px;
    min-width: 400px;
}


.root-loader .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: bounce 2s linear infinite;
    position: relative;
    background-color: white;
}

@media (min-width : 800px) {
    #root-loader .wrapper::after {
        position: absolute;
        width: 61%;
        height: 22%;
        left: 19%;
        border-radius: 50%;
        z-index: -1;
        bottom: -8px;
        content: "";
        box-shadow: 0 50px 24px rgba(0, 0, 0, 0.24);
    }
}

.root-loader .typewriter {
    margin-top: 50px;
    max-width: 90vw;
}

.root-loader .typewriter p {
    overflow: hidden;
    border-right: .15em solid black;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    animation: blink-caret .75s step-end infinite;
}

.root-loader .typing {
    /* animation: typing 0.5s steps(40, end) forwards, blink-caret .25s step-end infinite !important; */
}


@keyframes typing {
    from {
        width: 0;
        white-space: nowrap;

    }

    to {
        width: 100%;
        white-space: nowrap;

    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}


.root-loader .loader-cover .wave {
    border-radius: 100%;
    width: 250px;
    mix-blend-mode: darken;
    transform: scale(2);
}


.root-loader .loader-cover {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root-loader .loader-cover .icon {
    width: 100px;
}

.root-loader .loader-cover img {
    object-fit: contain;
    position: absolute
}

@media (max-width : 800px) {
    .root-loader .loader-cover .wave {
        width: 100px;
        transform: scale(2);
    }

    .root-loader .loader-cover {
        width: 100px;
        height: 100px;
    }

    .root-loader .loader-cover .icon {
        width: 80px;
    }
}